<app-app-header></app-app-header>
<div class="about-us-container">
  <h1>About Us</h1>
  <p>Welcome to the Content Management System (CMS). We are a dedicated team committed to providing the best solutions for managing your content efficiently and effectively.</p>
  <p>Our mission is to simplify content management with user-friendly tools and exceptional support. This project is a testament to our collaboration and hard work.</p>
  <div class="team-section">

  
    <div class="team-card">
      <h2>Vasanthan</h2>
   
    </div>
    <div class="team-card">
      <h2>Adlin Garcy</h2>
    
    </div>
    <div class="team-card">
      <h2>Sai Prasath</h2>
   
    </div>
  </div>
  
  <div class="technologies-section">
    <h2>Technologies We Use</h2>
    <ul>
      <!-- Frontend Technologies -->
      <li>Angular</li>
      <li>TypeScript</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Java</li>
      <li>Git & GitHub</li>
      <li>Spring Boots</li>
      <!-- Backend Technologies -->
      <li>PostMan</li>
      <li>MySQL</li>
    </ul>
  </div>
</div>
