/* Root variables for consistent color scheme */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  width: 100%;
  height: 90vh;
  margin: 0;
  display: flex;
  flex-direction: column;

}

/* Dashboard Layout */
.user-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Welcome Section */
.welcome-section {
  text-align: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background for better readability */
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 250px; /* Adjust the margin to make space for the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content horizontally */
  justify-content: center; /* Center align the content vertically */
}

.welcome-section h2 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 2rem;
}

.welcome-section p {
  margin-bottom: 1rem;
  color: var(--text-color);
  font-size: 1.2rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .user-dashboard {
    padding: 1rem;
  }

  .welcome-section {
    padding: 1rem;
    margin-left: 0; /* Remove the left margin on smaller screens */
  }
}
