<app-admin-header></app-admin-header>
<div class="manage-users">
    <h2>Manage Users</h2>
  

    <div *ngIf="editingUser">
      <h3>Edit User</h3>
      <form (ngSubmit)="saveUser()">
        <input type="text" [(ngModel)]="editingUser.firstName" name="firstName" placeholder="First Name" required>
        <input type="text" [(ngModel)]="editingUser.lastName" name="lastName" placeholder="Last Name" required>
        <input type="email" [(ngModel)]="editingUser.email" name="email" placeholder="Email" required>
        <button type="submit">Save User</button>
        <button type="button" (click)="cancelEdit()">Cancel</button>
      </form>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button (click)="editUser(user)">Edit</button>
            <button (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  